

@font-face {
    font-family: AmericanTypewriter;
    src: url(fonts/AmericanTypewriter.ttc);
    font-family: Chalkboard;
    src: url(fonts/Chalkboard.ttc);
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3.0em;
    font-weight: 700;
    font-family: AmericanTypewriter;

}



.text-vertical-center h2 {
	font-size: 30px;
	margin-top: 20px;
 	margin-bottom: 10px;
 	font-weight: 500;
	line-height: 1.1;
 	font-family: Chalkboard;
}

@media(min-width:768px) {
	.text-vertical-center h1 {
	    margin: 0;
	    padding: 0;
	    font-size: 4em;
	    font-weight: 700;
	}

	.text-vertical-center h2 {
	    margin: 0;
	    padding: 0;
	    font-size: 35px;
	    font-weight: 700;
	}
}

@media(min-width:992px) {
	/*.text-vertical-center h1 {
	    margin: 0;
	    padding: 0;
	    font-size: 6em;
	    font-weight: 700;
	}*/
}