body {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-inverse {
  text-align: center;
  background-color: #052B73;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #5895E9;
}
.navbar-brand {
  height: 50px;
}
.navbar-brand img {
  height: 50px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #5895E9;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background-color: #5895E9;
}
.navbar-fixed-bottom {
  padding: 8px;
  text-align: center;
}
#adminModalMain {
  background-color: #5895e9;
  height: 450px;
}
#adminForm {
  padding-top: 80px;
}
ul.social-buttons li a i {
  display: block;
  background-color: #052B73;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 21px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a i:hover, ul.social-buttons li a i:focus, ul.social-buttons li a i:active {
  background-color: #5895E9;
}

#map-canvas {
        width: 100%;
        height: 400px;
      }

#contactMapSection
#contactFormSection {
  margin: 20px;
}

.head-fix {
    padding-bottom: 9px;
    margin: 20px 40px 20px;
    border-bottom: 1px solid #eee;
}

#portfiloThumbnail {
    width: 100%;
    height: 170px;
}

#portfiloThumbnail img {
    max-width: 100%;
    max-height: 100%;
}
/*Login section*/
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0px;
}
.modal-sm .modal-content {
  background-color: #052B73;
}
.modal-sm .control-label {
  color: white;
}
//Drag to upload
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 380px;
    height: 380px;
    text-align: center;
    margin: 10px;
}
.drop-box-small {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    margin: 10px;
    padding: 0px;
}
.dragover {
    border: 5px dashed #052B73;
}