<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">	<h1>至尊游艇会</h1>
	<div class="col-md-12">
		<p>至尊游艇会是悉尼第一家华人顶级豪华游艇租赁及活动策划代理公司。</p>
		<p>我们专注于全澳各地给想要乘坐游艇游览悉尼港的顾客提供一个完全不一样的特殊体验和五星级的服务。</p>
		<p>一个整天，或是短期停留，公司或私人派对，时间由您选择，至尊游艇会为您提供一个绝妙的假期。</p>
		<p>在悉尼，我们有60多艘配有乘务员的船只，包括长12到140多米的大型游艇和面积达到350平方米的大型活动船只。</p>
		<p>我们每一艘游艇都是这世界上独一无二的。您可以根据不同预算从中选择，来度过您独特的假期或者举办婚礼，生日聚会，企业年会和商务会谈……等。</p>
		<p>我们为您提供细心周到的服务以达到你的完全满意。我们的游艇服务可以与世界上最负盛名的酒店相媲美，我们将为您规划豪华游艇上梦想假期的每一刻。</p>
		<p>我们的宗旨就是为顾客服务打造您独一无二的海上之旅，可以满足您的各种需求。您在海上将从全新的角度看到悉尼的奢华与魅力。</p>
		<p>用来宴请宾客和带友人游览悉尼港的风光，欣赏不一样的悉尼歌剧院，海港大桥。</p>
		<p>至尊游艇会游艇租赁公司专长于带船员的豪华游艇包租服务，提供奢华大帆船、动力游艇及超级奢华游艇的租赁，涉及澳洲最美丽的海域。</p>
	</div>
</div>