<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">
	<h1>商业活动</h1>
	<div class="col-md-8 col-md-offset-2">
      <p>至尊遊艇會可以承辦各種公司活動，如一般活動，多功能宴會，產品發佈會和會議。沒有什麼比舉辦一場在悉尼港遊艇上的包船活動更能讓您的客戶和同事感受到不一樣的體驗，從而讓您的客戶和同事感受到您的企業的完美和努力。</p>
      <p>至尊遊艇會是悉尼港首屈一指的包船服務。我們的團隊能夠幫助你舉辦一場您理想中的企業活動，在悉尼港這個久負盛名的美麗海港。如果您的企業包船是為了 員工聖誕派對，團隊建設，產品發佈會和會議。那麼至尊遊艇會將是您不能錯過的選擇。至尊遊艇會擁有完美的豪華遊艇能夠滿足您的各種需求。完美與精緻的餐飲和全套酒吧設施。我們提供各種活動包裝和設計以適應您的企業建設要求。</p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="商务活动" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('商务活动')">提交</button>
		</div>
	</form>
</div>