<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">
	<h1>休闲娱乐</h1>
	<div class="col-md-offset-2 col-md-8">
      <p>至尊遊艇會是悉尼港著名的遊艇租賃代理機構，為每一位顧客提供優質的服務一直使我們致力於的目標。快樂，愉悅的遊艇派對能夠給您與您的家人朋友帶來一個美好的特別回憶。生日派對，單身派對，焰火，聚會，朋友聚餐。至尊遊艇會為您提供一個獨一無二的休閒娛樂時光。</p>
      <p>New year Eve包船
        沒有人會忘記在悉尼海港新年前夜的私人包船經驗。
        悉尼港是每年新年煙花匯演最佳的位置，在船上欣賞海港大橋和歌劇院聯合進行的新年煙花匯演絕對是一次絕佳的體驗。至尊遊艇會提供新年夜包船活動。不用提前早上排隊，不用人擠人，就能在絕佳位置與親朋好友一起欣賞一年一度的悉尼最著名的煙花表演。與此同時，還能享受我們為您精心提供的五星級美食和服務。這就是至尊遊艇會新年包船活動。
      </p>
      <p>今年，它可能就是你的新年夜，在海港里豪華和舒適的完美的參與這次跨年活動中來。我們目前正在對我們有限的最搶手的豪華包船的跨年夜活動進行提前預訂。</p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="休闲娱乐" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('休闲娱乐')">提交</button>
		</div>
	</form>
</div>