<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300" alt="header image">
	<h1>休闲娱乐</h1>
	<div class="col-md-offset-2 col-md-8">
      <p>至尊游艇会是悉尼港著名的游艇租赁代理机构，为每一位顾客提供优质的服务一直是我们致力于的目标。快乐，愉悦的游艇派对能够给您与您的家人朋友带来一个美好的特别回忆。生日派对，单身派对，焰火，聚会，朋友聚餐。至尊游艇会为您提供一个独一无二的休闲娱乐时光。</p>
      <p>New year Eve包船，没有人会忘记在悉尼海港新年前夜的私人包船经验。悉尼港是每年新年烟花汇演最佳的位置，在船上欣赏海港大桥和歌剧院联合进行的新年烟花汇演绝对是一次绝佳的体验。至尊游艇会提供新年夜包船活动。不用提前早上排队，不用人挤人，就能在绝佳位置与亲朋好友一起欣赏一年一度的悉尼最著名的烟花表演。与此同时，还能享受我们为您精心提供的五星级美食和服务。这就是至尊游艇会新年包船活动。
      </p>
      <p>今年，它可能就是您的新年夜，在海港里豪华和舒适的完美的参与这次跨年活动中来。我们目前正在对我们有限的最抢手的豪华包船的跨年夜活动进行提前预订。</p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="休闲娱乐" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('休闲娱乐')">提交</button>
		</div>
	</form>
</div>