<!-- Page Content -->
<div class="row" ng-controller="ContactController">
    <div id="contactMapSection" class="col-md-offset-1 col-md-7">
        <address>
            <b>办公室电话:</b><br>
            (02) 9268 0883<br>
            <br>
            <b>Email:</b><br>
            booking@alyc.com.au
            <br>
            <br>
            <b>传真:</b><br>
            02 92680580
            <br>
            <br>
            <b>办公室地址:</b><br>
            Suite 605, Pacific Trade Centre ,368 Sussex Street,Sydney NSW 2000<br>
            <br>

            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </address>
        <div id="map-canvas"></div>
    </div>
    <div id="contactFormSection" class="col-md-3">
        <div>
            <p><b>微信关注我们!</b></p>
            <img src="../../img/wechatQR.jpg" width="100%">

            <p><b>或者填写表格联系我们</b></p>
        </div>
        <form name="contactForm">
            <div class="form-group">
                <label for="InputFullName">主题</label>
                <input class="form-control" ng-model="enquiry.subject" required>
            </div>
            <div class="form-group">
                <label for="InputFullName">姓名*</label>
                <input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
            </div>
            <div class="form-group has-feedback">
                <label class="control-label">电子邮箱*</label>
                <span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <input type="email" name="email" class="form-control" ng-model="enquiry.email"
                       placeholder="john.smith@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="InputPhoneNumber">联系电话*</label>
                <input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
            </div>
            <div class="form-group">
                <label for="InputContent">联系我们</label>
                <textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..."
                          required></textarea>
            </div>
            <div>
                <button class="btn btn-primary pull-right" ng-click="submit()">提交</button>
            </div>
        </form>
    </div>
</div>