<div class="container" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                <li ng-class="{'active': view_tab == 'agent'}">
                    <a class="btn-lg" ng-click="changeTab('agent')" href="">会员管理</a>
                </li>
                <li ng-class="{'active': view_tab == 'cruise'}">
                    <a class="btn-lg" ng-click="changeTab('cruise')" href="">游艇管理</a>
                </li>
                <li ng-class="{'active': view_tab == 'gallery'}">
                    <a class="btn-lg" ng-click="changeTab('gallery')" href="">相册管理</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div ng-show="view_tab == 'agent'">
                This is tab 1 content
            </div>
            <div ng-show="view_tab == 'cruise'" ng-controller="CategoryCtrl">
                <accordion close-others="oneAtATime">
                    <accordion-group ng-repeat="category in categories | filter:query" is-open="true">
                        <accordion-heading>
                            <span ng-bind="category.name"></span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': category.open, 'glyphicon-chevron-down': !category.open}"></i>
                        </accordion-heading>
                        <div class="row" ng-controller="CruiseCtrl">
                            <div class="col-sm-3" ng-repeat="cruise in cruises | filter:query" ng-click="editCruise(cruise)">
                                <div class="thumbnail">
                                    <img ng-src="{{ cruise.coverImage.url() }}" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right">$<span ng-bind="cruise.price"></span></h4>
                                        <h4><a><span ng-bind="cruise.name"></span></a>
                                        </h4>
                                        <p ng-bind="cruise.summary"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" ng-click="newCruise()">
                                <div class="thumbnail">
                                    <img ng-src="http://placehold.it/160&text=New+Cruise" alt="">
                                    <div class="caption">
                                        <h4 class="pull-right">$0.00</h4>
                                        <h4><a>New Cruise</a></h4>
                                        <p>Click to add new Cruise.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div ng-show="view_tab == 'gallery'">
                <div class="row" ng-controller="GalleryCtrl">
                    <div class="form-group">
                        <label>相册</label><br>
                        <div ng-repeat="photo in photos">
                            <div class="drop-box-small col-md-3" ng-really-message="Delete this photo?" ng-really-click="deleteImageFile(photo)">
                                <img ng-src="{{ photo.get('file').url() }}" class="col-xs-12" alt="">
                            </div>
                        </div>
                        <div ng-file-drop ng-file-select ng-file-change="uploadPhoto($files)" class="drop-box-small col-md-3"
                            drag-over-class="dragover" ng-multiple="true" allow-dir="true"
                            accept="image/*">
                            <img  ng-src="https://placehold.it/120&text=Add" alt="">
                        <progressbar class="progress-striped active" value="100" type="success" ng-show="isUploading">Uploading image</progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>