<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">
	<h1>深海垂钓</h1>
	<div class="col-md-8 col-md-offset-2">
      <p>我們的漁船正在準備一年一度的追逐馬林魚賽季，追逐所有的大馬林魚的物種，鯕鰍魚，強大的黃鰭金槍魚，大鯊魚加上近岸礁石首魚。我們的釣魚船可以安排接客戶從悉尼港的任何位置。我們的船也提供包機服務去史蒂芬港，從二月到三月是作為最好的追逐馬林魚的時間。</p>
      <p>我們的釣魚船提供各種各樣的服務，無論您是想享受專業的海釣樂趣，還是想休閒娛樂的在悉尼港內放鬆一天。我們都能為您安排您的完美休閒時刻。專業的釣魚船配備有專業釣魚雷達和專業的海釣指導人員，能夠讓您在大海中跟隨雷達追逐魚群。也可以根據您的安排在Parramatta river 享受安靜祥和的一天與您的家人朋友。</p>
      <p>熱衷於體驗了一生的釣魚經驗？聯繫上至尊遊艇會，討論可能的最佳捕撈天或發送電子郵件詢問。</p>
	</div>
</div>
<div class="col-md-8 col-md-offset-2" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="深海垂钓" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('深海垂钓')">提交</button>
		</div>
	</form>
</div>