<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">
	<h1>深海垂钓</h1>
	<div class="col-md-8 col-md-offset-2">
      <p>我们的渔船正在准备一年一度的追逐马林鱼赛季，追逐所有的大马林鱼的物种，黄鳍金枪鱼，大鲨鱼加上近岸礁石首鱼。我们的钓鱼船可以安排接客户从悉尼港的任何位置。我们的船也提供包船服务去史蒂芬港，从二月到三月是作为最好的追逐马林鱼的时间。</p>
      <p>我们的钓鱼船提供各种各样的服务，无论您是想享受专业的海钓乐趣，还是想休闲娱乐的在悉尼港内放松一天。我们都能为您安排您的完美休闲时刻。专业的钓鱼船配备有专业钓鱼雷达和专业的海钓指导人员，能够让您在大海中跟随雷达追逐鱼群。也可以根据您的安排在Parramatta river享受安静祥和的一天与您的家人朋友。</p>
      <p>热衷于体验不一样的钓鱼经验？请联系至尊游艇会，讨论可能的最佳捕捞天或发送电子邮件询问。</p>
	</div>
</div>
<div class="col-md-8 col-md-offset-2" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="深海垂钓" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('深海垂钓')">提交</button>
		</div>
	</form>
</div>