<footer>
	<nav class="navbar navbar-default navbar-fixed-bottom" ng-if="!landing">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright © JMS Entertainment 2015</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons text-center">
						<li>
							<a href="https://www.facebook.com/australialuxuryyachtclub?ref=hl">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li><a href="https://twitter.com/JMS_Australia"><i class="fa fa-twitter"></i></a></li>
						<li><a href="http://weibo.com/jmsaustralia"><i class="fa fa-weibo"></i></a></li>
						<li ng-click="openWeChat()" ><a><i class="fa fa-wechat"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<a href="/term/">用户条例</a>
				</li>
			</ul>
		</div>
	</nav>
</footer>