<!-- Page Content -->
<img class="header-img img-responsive" src="img/header_img.jpg" alt="header image">

<h1 class="main-page-title"> <a href="/cruise">游艇介绍</a></h1>
<div class="row" ng-controller="HomeCtrl">
  <div class="col-md-9">
  <div class="col-md-12" ng-repeat="cruise in cruises | filter:query" ng-click="viewCruise(cruise)">
    <div class="row">
      <div class="col-md-4 inline-thm" bg-color="black">
        <a><img ng-src="{{ cruise.coverImage.thumbnailURL(220,150) }}" class="img-responsive" alt="cruise cover image"></a>
      </div>
      <div class="col-md-6" bg-color="black">
        <div class="caption">
          <h4 class="pull-right">最大 <span ng-bind="cruise.capacity"></span> 人</h4>

          <h4><span ng-bind="cruise.name"></span></h4>
          <span ng-bind="cruise.category.name"></span>
          <h4 ng-show="!cruise.agentPrice || cruise.agentPrice == 0 || currentUser == undefined">$<span ng-bind="cruise.price"></span>/小时</h4>
          <del ng-show="cruise.agentPrice && cruise.agentPrice != 0 && currentUser != undefined">原价: $<span ng-bind="cruise.price"></span>/小时</del>
          <h4 ng-show="cruise.agentPrice && cruise.agentPrice != 0 && currentUser != undefined">会员价: $<span ng-bind="cruise.agentPrice"></span>/小时</h4>
          <button class="btn btn-primary pull-right">详情</button>
          <p><span ng-bind="cruise.minimumHour"></span>小时 起租</p>
        </div>
      </div>
    </div>
  </div>
    </div>
  <div class="col-md-3" ng-controller="AdsCtrl">
    <div>
      搜索: <input ng-model="query" placeholder="豪华游艇" class="ng-pristine ng-untouched ng-valid">
    </div>
    <br>
    <div class="list-group" ng-controller="CategoryCtrl">
      <a ng-repeat="category in categories | filter:query" ng-href="/cruise/#{{ category.tag }}" class="list-group-item" du-smooth-scroll du-scrollspy offset="80"><span ng-bind="category.name"></span></a>
    </div>
  </div>
</div>
<h1 class="main-page-title"><a href="/service"> 我们的服务 </a></h1>

  <div class="row">
    <div class="col-md-3 inline-thm" bg-color="black">
      <a href="/wedding"><img src="img/wedding1.png" width="220" height="150" alt="wedding image"></a>
    </div>
    <div class="col-md-7" bg-color="black">
      <h3><a href="/wedding">婚礼策划</a></h3>
      <p>悉尼海港遊船婚禮絕對是一次特別的獨一無二的婚禮體驗。我們驚艷世界級的婚禮遊輪是一個非常讓人印象深刻的方式在悉尼港來慶祝這個特殊的日子。完美的婚宴場地，奢華的私人遊艇，優質的五星級服務以及專業的婚禮策劃服務，在這個特殊的日子里為您呈現一個獨特而難忘的悉尼港海上婚禮。我們的員工將提供卓越的專業服務，并會協助您協調各個方面，包括採購裝飾，花卉造型，蛋糕和頂級的餐飲服務等。</p>
      <button class="btn btn-default"><a href="/service"> 了解更多 </a></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 inline-thm" bg-color="black">
      <a href="/business"><img src="img/business1.png" width="220" height="150" alt="business image"></a>
    </div>
    <div class="col-md-7" bg-color="black">
      <h3><a href="/business">商业活动</a></h3>
      <p>至尊遊艇會可以承辦各種公司活動，如一般活動，多功能宴會，產品發佈會和會議。沒有什麼比舉辦一場在悉尼港遊艇上的包船活動更能讓您的客戶和同事感受到不一樣的體驗，從而讓您的客戶和同事感受到您的企業的完美和努力。</p>
      <button class="btn btn-default"><a ng-href="/business">了解更多</a></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 inline-thm" bg-color="black">
      <a href="/casual"><img src="img/entertainment1.png" width="220" height="150" alt="casual image"></a>
    </div>
    <div class="col-md-7" bg-color="black">
      <h3><a href="/casual">休闲娱乐</a></h3>
      <p>至尊遊艇會是悉尼港著名的遊艇租賃代理機構，為每一位顧客提供優質的服務一直使我們致力於的目標。快樂，愉悅的遊艇派對能夠給您與您的家人朋友帶來一個美好的特別回憶。生日派對，單身派對，焰火，聚會，朋友聚餐。至尊遊艇會為您提供一個獨一無二的休閒娛樂時光。</p>
      <button class="btn btn-default"><a ng-href="/casual">了解更多</a></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 inline-thm" bg-color="black">
      <a href="/fishing"><img src="img/fishing1.png" width="220" height="150" alt="fishing image"></a>
    </div>
    <div class="col-md-7" bg-color="black">
      <h3><a href="/fishing">深海垂钓</a></h3>
      <p>我們的漁船正在準備一年一度的追逐馬林魚賽季，追逐所有的大馬林魚的物種，鯕鰍魚，強大的黃鰭金槍魚，大鯊魚加上近岸礁石首魚。我們的釣魚船可以安排接客戶從悉尼港的任何位置。我們的船也提供包機服務去史蒂芬港，從二月到三月是作為最好的追逐馬林魚的時間。</p>
      <button class="btn btn-default"><a ng-href="/fishing">了解更多</a></button>
    </div>
  </div>