<div class="row text-center landing">
  <div class="col-sm-offset-1 col-sm-10">
    <a href="/home" class="btn btn-dark btn-lg">进入网站</a>
    <h3 class="landing-h3">The best way to explore Sydney</h3>
    <h3 class="landing-h3">Come &amp; Explore</h3>
  </div>
</div>