<div class="row text-center landing">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>You haven't seen Sydney</h1>
    <h2>Come &amp; Explore</h2>
    <a href="/home" class="btn btn-dark btn-lg">纵享悉尼</a>
  </div>
</div>