<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cn/"><img ng-src="/img/logo_1.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/cn/home') }">
          <a class="my-menu" ng-href="/cn/home"><span>主页</span></a>
        </li>
        <!-- Single button -->
        <li class="btn-group"dropdown is-open="status.isHomeOpen" ng-class="{ active: isActive('/cn/cruise') }">
          <a type="button" class="dropdown-toggle"dropdown-toggle ng-disabled="disabled">
            <span>游艇 </span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" ng-controller="CategoryCtrl">
            <li ng-repeat="category in categories"><a ng-href="/cn/cruise/#{{ category.tag }}" du-smooth-scroll du-scrollspy offset="80"><span ng-bind="category.name"></span></a></li>
          </ul>
        </li>
        <li ng-class="{ active: isActive('/cn/service') }">
          <a class="my-menu" ng-href="/cn/service"><span>服务</span></a>
        </li>
        <li ng-class="{ active: isActive('/cn/gallery') }">
          <a class="my-menu" ng-href="/cn/gallery"><span>相册</span></a>
        </li>
        <li ng-class="{ active: isActive('/cn/about') }">
          <a class="my-menu" ng-href="/cn/about"><span>关于</span></a>
        </li>
        <li ng-class="{ active: isActive('/cn/contact') }">
          <a class="my-menu" ng-href="/cn/contact"><span>联系我们</span></a>
        </li>
        <li ng-show="currentUser.id && currentUser.isAdminUser">
          <a class="my-menu" ng-href="/dashboard"><span>控制台</span></a>
        </li>
        <li ng-show="currentUser.profileName">
          <a ng-bind="currentUser.profileName"></a>
        </li>
        <li>
          <a class="menu" ng-click="logOut()" ng-show="currentUser.id"><span>退出登录</span></a>
        </li>
        <li>
          <a class="menu" ng-click="login()" ng-show="!currentUser.id"><span>成员登入</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

