<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/cn/"><img ng-src="/img/logo.png"alt=""></a>
    </div>
    <div class="collapse navbar-collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/cn/home') }">
          <a ng-href="/cn/home">主页</a>
        </li>
        <!-- Single button -->
        <li class="btn-group"dropdown is-open="status.isHomeOpen" ng-class="{ active: isActive('/cn/cruise') }">
          <a type="button" class="dropdown-toggle"dropdown-toggle ng-disabled="disabled">
            游艇 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" ng-controller="CategoryCtrl">
            <li ng-repeat="category in categories"><a ng-href="/cn/cruise/#{{ category.tag }}" du-smooth-scroll du-scrollspy offset="80"><span ng-bind="category.name"></span></a></li>
          </ul>
        </li>
        <li ng-class="{ active: isActive('/cn/service') }">
          <a ng-href="/cn/service">服务</a>
        </li>
        <li ng-class="{ active: isActive('/cn/gallery') }">
          <a ng-href="/cn/gallery">相册</a>
        </li>
        <li ng-class="{ active: isActive('/cn/about') }">
          <a ng-href="/cn/about">关于</a>
        </li>
        <li ng-class="{ active: isActive('/cn/contact') }">
          <a ng-href="/cn/contact">联系我们</a>
        </li>
        <li ng-show="currentUser.id && currentUser.isAdminUser">
          <a ng-href="/dashboard">控制台</a>
        </li>
        <li ng-show="currentUser.profileName">
            <a ng-bind="currentUser.profileName"></a>
        </li>
        <li>
          <a ng-click="logOut()" ng-show="currentUser.id">退出登录</a>
        </li>
        <li>
          <a ng-click="login()" ng-show="!currentUser.id">成员登入</a>
        </li>
      </ul>
    </div>
  </div>
</nav>