<h1 class="main-page-title"><a href="/service"> 我们的服务 </a></h1>

<div class="row">
	<div class="col-md-3 inline-thm" bg-color="black">
		<a href="/wedding"><img src="img/wedding1.png" width="220" height="150"></a>
	</div>
	<div class="col-md-7" bg-color="black">
		<h3><a href="/wedding">婚礼策划</a></h3>
		<p>悉尼海港游船婚礼绝对是一次特别的独一无二的婚礼体验。我们惊艳世界级的婚礼游轮是一个非常让人印象深刻的方式在悉尼港来庆祝这个特殊的日子。完美的婚宴场地，奢华的私人游艇，优质的五星级服务以及专业的婚礼策划服务，在这个特殊的日子里为您呈现一个独特而难忘的悉尼港海上婚礼。我们的员工将提供卓越的专业服务，并会协助您协调各个方面，包括采购装饰，花卉造型，蛋糕和顶级的餐饮服务等。</p>
		<p>我们公司提供聘请专业的婚礼策划。奢华的婚礼交通将能够保证您和您的家人朋友抵达和离开顺利。我们的专业婚礼协调员将努力使您的私人包船奢华婚礼的一切服务都能超出您的期望。联系至尊游艇会独家探讨所有您对婚礼派对的需求。我们将确保在您的重要日子里，为您和您的家人朋友客人提供真正神奇满意的体验。</p>
		<p>婚礼场地是构建成功的婚礼风格的重要组成部分。不管你选择什么样主题风格的婚礼，至尊游艇会都能把我们的奢华私人游艇为您设计布置成最终达到您要求的完美理想场所。</p>
		<p>我们的婚宴船是专门用于奢华婚礼设计的多功能船只。我们的婚宴船提供一个广泛视角的玻璃结构设计的门窗，能让您从不同角度欣赏到悉尼港的美景。我们的婚庆船能够容纳2-800名乘客在多个船层。我们的婚宴船满足您的各种需求，我们还可以安排在悉尼最好的婚庆DJ，乐队和娱乐服务。以及我们还提供奢华的过夜包船服务。让您在奢华的私人游艇上度过终极浪漫的新婚之夜。</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3 inline-thm" bg-color="black">
		<a href="/business"><img src="img/business1.png" width="220" height="150"></a>
	</div>
	<div class="col-md-7" bg-color="black">
		<h3><a href="/business">商业活动</a></h3>
		<p>至尊游艇会可以承办各种公司活动，如一般活动，多功能宴会，产品发布会和会议。没有什么比举办一场在悉尼港游艇上的包船活动更能让您的客户和同事感受到不一样的体验，从而让您的客户和同事感受到您的企业的完美和努力。</p>
		<p>至尊游艇会是悉尼港首屈一指的包船服务。我们的团队能够帮助您举办一场您理想中的企业活动，在悉尼港这个久负盛名的美丽海港。如果您的企业包船是为了员工圣诞派对，团队建设，产品发布会和会议。那么至尊游艇会将是您不能错过的选择。至尊游艇会拥有完美的豪华游艇能够满足您的各种需求。完美与精致的餐饮和全套酒吧设施。我们提供各种活动包装和设计以适应您的企业建设要求。</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3 inline-thm" bg-color="black">
		<a href="/casual"><img src="img/entertainment1.png" width="220" height="150"></a>
	</div>
	<div class="col-md-7" bg-color="black">
		<h3><a href="/casual">休闲娱乐</a></h3>
		<p>至尊游艇会是悉尼港著名的游艇租赁代理机构，为每一位顾客提供优质的服务一直是我们致力于的目标。快乐，愉悦的游艇派对能够给您与您的家人朋友带来一个美好的特别回忆。生日派对，单身派对，焰火，聚会，朋友聚餐。至尊游艇会为您提供一个独一无二的休闲娱乐时光。</p>
		<p>New year Eve包船，没有人会忘记在悉尼海港新年前夜的私人包船经验。悉尼港是每年新年烟花汇演最佳的位置，在船上欣赏海港大桥和歌剧院联合进行的新年烟花汇演绝对是一次绝佳的体验。至尊游艇会提供新年夜包船活动。不用提前早上排队，不用人挤人，就能在绝佳位置与亲朋好友一起欣赏一年一度的悉尼最著名的烟花表演。与此同时，还能享受我们为您精心提供的五星级美食和服务。这就是至尊游艇会新年包船活动。</p>
		<p>今年，它可能就是您的新年夜，在海港里豪华和舒适的完美的参与这次跨年活动中来。我们目前正在对我们有限的最抢手的豪华包船的跨年夜活动进行提前预订。</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-3 inline-thm" bg-color="black">
		<a href="/fishing"><img src="img/fishing1.png" width="220" height="150"></a>
	</div>
	<div class="col-md-7" bg-color="black">
		<h3><a href="/fishing">深海垂钓</a></h3>
		<p>我们的渔船正在准备一年一度的追逐马林鱼赛季，追逐所有的大马林鱼的物种，黄鳍金枪鱼，大鲨鱼加上近岸礁石首鱼。我们的钓鱼船可以安排接客户从悉尼港的任何位置。我们的船也提供包船服务去史蒂芬港，从二月到三月是作为最好的追逐马林鱼的时间。</p>
		<p>我们的钓鱼船提供各种各样的服务，无论您是想享受专业的海钓乐趣，还是想休闲娱乐的在悉尼港内放松一天。我们都能为您安排您的完美休闲时刻。专业的钓鱼船配备有专业钓鱼雷达和专业的海钓指导人员，能够让您在大海中跟随雷达追逐鱼群。也可以根据您的安排在Parramatta river享受安静祥和的一天与您的家人朋友。</p>
		<p>热衷于体验不一样的钓鱼经验？请联系至尊游艇会，讨论可能的最佳捕捞天或发送电子邮件询问。</p>
	</div>
</div>