<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>我们的服务</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>至尊遊艇會秉持著提供每位尊貴客戶有個快樂、愉悅的遊艇派對美好回憶，還提供遊艇住宿、生日派對、單身派對、煙火、聚會、船趴、單身派對、外拍、尾牙春酒、聚餐、海釣各種服務
			</p>
			<p>至尊遊艇會是悉尼港著名的遊艇租賃代理機構，我們一直致力於為我們的顧客提供一流的服務和活動策劃。</p>
			<p>由JMS娛樂公司帶領的專業團隊將確保您的活動從開始到結束的百分之百成功。由我們專業團隊策劃的活動講給你的家人和朋友留下深刻和難忘的印象，並且為他們帶來一份難忘的不一樣的在悉尼港遊船的體驗。悉尼港的遊船體驗一定會給您的未來客戶和嘉賓留下深刻的印象。</p>
			<p>我們所擁有的船隻能夠滿足各種要求的私人包船活動。從小型休閒遊輪到豪華超級遊艇， 從無需駕照的自駕遊到能夠容納千人的豪華船隻。我們的活動各種各樣，包括無需駕照的自駕遊，能夠媲美正式比賽項目的功能性漁船，專門從事婚慶巡遊，企業活動和社交活動的可以容納800-1000人的移動船塢。我們提供了很多奢華精美和種類繁多的餐飲菜單和美妙的飲料，以滿足您的特定需求。</p>
			<p>我們不止能滿足在港巡遊活動，還能根據您的特定要求滿足您對特定地點巡遊的願望。給您的活動多一些策劃空間。如果您有這方面的需求，現在就可以聯繫我們開始策劃</p>
		</div>
		<div class="col-md-6" ng-controller="AdsCtrl">
			<div style="height: 320px">
				<carousel interval="5000">
				<slide ng-repeat="slide in slides" active="slide.active">
				<img ng-src="{{ slide.image }}" class="img-responsive">
				</slide>
				</carousel>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" bg-color="black">
			<a href="cn/business"><img src="http://www.placehold.it/280x210"></a>
		</div>
		<div class="col-md-9" bg-color="black">
			<h3><a href="cn/business">商业活动</a></h3>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<button class="btn btn-default"><a href="cn/business">了解更多</a></button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3" bg-color="black">
			<a href="cn/casual"><img src="http://www.placehold.it/280x210"></a>
		</div>
		<div class="col-md-9" bg-color="black">
			<h3><a href="cn/casual">休闲娱乐</a></h3>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<button class="btn btn-default"><a href="cn/casual">了解更多</a></button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3" bg-color="black">
			<a href="cn/fishing"><img src="http://www.placehold.it/280x210"></a>
		</div>
		<div class="col-md-9" bg-color="black">
			<h3><a href="cn/fishing">深海垂钓</a></h3>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<p>这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。这是一段细节文字，可以修改后重新加入。</p>
			<button class="btn btn-default"><a href="cn/fishing">了解更多</a></button>
		</div>
	</div>
	<br>
</div>