<h1>JMS至尊游艇会－用户条例</h1>
<p>本网站由尖子娱乐集团（JMS Entertainment Group）旗下至尊游艇会（Australia Luxury Yacht Club）（以下简称“本公司”）设立，凡浏览本网站的用户，均表示接受以下条款。阁下在使用本网站前务请细心阅读以下条文。</p>
<ol>
	<li>本文档不是合同，游艇章程和他们的资料显示很真诚。虽然很正确但是并没有保证。至尊游艇会并不保证或者承担任何法律责任，对于信息的准确性，完整性或者实用性不负任何责任。所有信息如有变更，恕不另行通知。至尊游艇会的游艇顾问将会在你的租赁选择过程中和你讨论每一个章程，除非另有标明其他精确的价格和其他细节，将在特许合同中确认。</li>
	<li>介紹<br>至尊游艇会是悉尼顶级豪华游艇租赁及活动策划代理公司。我们专注于给想要乘坐游艇游览悉尼港的顾客提供一个完全不一样的特殊体验和五星级的服务。至尊游艇会游艇租赁公司专长于带船员的豪华游艇包租服务，提供奢华大帆船、动力游艇及超级游艇的租赁，涉及澳洲最美丽的海域。</li>
	<li>我们的服务<br>本公司仅充当游艇租赁和活动中介，业务范围包括：悉尼，墨尔本，黄金海岸，布里斯班，阿德雷德，珀斯，凯恩斯，昆士兰圣灵群岛等。<br></li>
	<li>报价<ul>
		<li>本公司将通过电子邮件形式提供书面报价，当书面报价不能被提供时，将提供口头报价。</li>
		<li>报价中将附带租赁条款，请仔细参阅，所有报价在报价后的7天内有效。</li>
		<li>本公司报价会根据客户提出的包船要求和进一步的要求进行调整。</li>
	</ul></li>
	<li>权利声明<br>本网站包含的所有内容（包括但不限于文本、图形、图片、视像及声音、商标、标识、版面设计、专栏目录与名称、内容分类）的所有权、著作权及其他权利由本公司所享有并予以保留。<br>
	任何媒体、网站或个人未经本公司书面授权不得转载、链接、转帖或以其他方式使用本网站内容，已取得本公司书面授权的，在使用时必须注明来源。</li>
	<li>付款<br>
		<ul>
			<li>除非报价另有规定，所有订位需有订位确认后24小时内支付订金30%，尾款必须在活动开始前48小时内支付。</li>
			<li>除非报价另有规定，本公司所提供的所有服务，按照报价，必须使用下列支付方法之一进行支付。
				<ol>
					<li>Visa， MasterCard（2%附加费）或者American Express（3%附加费）</li>
					<li>直接存入指定银行账户（EFT）</li>
					<li>现金或支票直接支付</li>
					<li>每一订位需于活动当天提供个人信用卡作为租赁保障。</li>
				</ol>
			</li>
			<li>任何后期费用，包括包船扩展，额外的人，附加服务等，将在客户同意后，直接在客户所提供至信用卡内扣除。</li>
		</ul>
	</li>
	<li>终止订位<br>
		订位取消：在支付30%的订金后，订位完全确认后取消收费如下
		<ul>
			<li>出发前30天取消，可获退款20%（订金）</li>
			<li>出发前15天取消，可获退款10%（订金）</li>
			<li>出发前7天取消，扣订金全额</li>
		</ul>
	</li>
	<li>天气因素<br>
		<ol>
			<li>租船不会因为不幸的恶劣天气取消。悉尼港是一个避风港，在有风的条件下可以保护许多区域。</li>
			<li>任何取消或者推迟必须取得游艇经营者的同意</li>
			<li>在经营者决定推迟订单时，推迟时间将会根据每年游艇可使用时间表决定。</li>
		</ol>
	</li>
	<li>机密性<br>
		双方需知在交易和买卖过程中，会接触和接受到专有机密或者私人信息给双方。双方同意严格保密这样的信息，除非根据法律规定或监管机构和司法程序需要。
	</li>
	<li>责任条款
		<ol>
			<li>您同意赔偿和不损害本公司，包括其雇员，由行为疏忽或者遗漏所造成的相关供应商和第三方的所有损失、索赔、诉讼、成本、费用、损失和造成的任何罚款和责任（包括合理的律师费）。</li>
			<li>本公司特此声明对于船上活动过程中可能发生的任何伤害，死亡和损失不承担责任，其中包括客户往返船只与住宿之间。所有赔偿将直接交由船主之保险公司负责。</li>
		</ol>
	</li>
	<li>投诉或调解纠纷<br>
		<ol>
			<li>
				您同意接受这份条约，在发生纠纷后，在诉诸法律程序前，真诚努力公正的解决此事。在此过程中，每一方同意尽其最大努力：
				<ol>
					<li>以书面形式清晰的表达清楚导致或引起纠纷的背景事实包括证人。</li>
					<li>明确列出那些需要采取行动，以解决纠纷。</li>
					<li>选择一种方式解决纠纷，并解释说明为何这种方式是公平公正的。</li>
				</ol>
			</li>
			<li>
				尝试解决任何争端必须遵循以下步骤
				<ol>
					<li>双方的陈述应以书面列载形式提出，并提出纠纷的问题和期许得到的结果。</li>
					<li>投诉人投诉的问题将会在十个工作日内得到答复。</li>
					<li>如果纠纷未能按照双方意愿解决，此纠纷将在十个工作日内提交给相关政府部门仲裁解决。</li>
				</ol>
			</li>
		</ol>
	</li>
	<li>免责条款<br>
		故本公司特此声明，至尊游艇会不会就任何错误、遗漏、错误陈述或失实陈述（不论明示或默示的）承担任何责任。对任何因使用或不当使用www.ALYC.com.au所载的资料而引致或所涉及的损失，毁坏或损害（包括但不限于相应而生的损失、毁坏或损害），本公司概不承担任何责任。<br>本公司不负责亦不承担任何一切因浏览或使用资讯、产品及服务而引致之任何意外、错误、遗漏、疏忽、干扰、经传送或接受的错误、因下载而感染电脑病毒、诽谤、合约毁坏、版权或知识产权侵犯及所造成的任何损失。<br>
		当你一旦使用www.ALYC.com.au，即表示你无条件接受上述所载的免责条款以及任何本公司不时在无须预先通知你的情况下而对上述条款所做出的修改及／或修订。请定期浏览此网页查阅任何修改及／或修订。
 
	</li>
</ol>