<h1>Term and conditions</h1>
<p>本網站由JMS娛樂公司（JMS Entertainment）旗下至尊遊艇會（Australia Luxury Yacht Club）（以下簡稱“本公司”）設立，凡瀏覽本網站的用戶，均表示接受以下條款。閣下在使用本網站前務請細心閱讀以下條文</p>
<ol>
	<li>本文檔不是合同，遊艇章程和他們的資料顯示很真誠。雖然很正確但是並沒有保證。至尊遊艇會並不保證或者承擔任何法律責任，對於信息的準確性，完整性或者實用性不負任何責任。所有信息如有變更，恕不另行通知。至尊遊艇會的遊艇顧問將會在你的租賃選擇過程中和你討論每一個章程，除非另有標明其他精確的價格和其他細節，將在特許合同中確認。</li>
	<li>介紹<br>至尊遊艇會是悉尼頂級豪華遊艇租賃及活動策劃代理公司。我們專注于給想要乘坐遊艇遊覽悉尼港的顧客提供一個完全不一樣的特殊體驗和五星級的服務。至尊遊艇會游艇租赁公司专长于带船员的豪华游艇包租服务，提供奢华大帆船、动力游艇及超级游艇的租赁，涉及澳洲最美丽的海域。</li>
	<li>我們的服務<br>本公司僅充當遊艇租賃和活動中介，業務範圍包括：悉尼，墨爾本，黃金海岸，布里斯班，阿德雷德，珀斯，凱恩斯，昆士蘭聖靈群島等。<br>
		有關代理內容，需要提出，一切相關信息均由遊艇方提供給本公司。<br>
	本公司僅是信息提供的管道，本公司不對信息中的任何錯誤，不準確或瑕疵承擔責任。</li>
	<li>報價<ul>
		<li>本公司將通過電子郵件形式提供書面報價，當書面報價不能被提供時，將提供口頭報價。</li>
		<li>報價中將附帶租賃條款，請仔細參閱，所有報價在報價後的7天內有效。</li>
		<li>本公司報價會根據客戶提出的包船要求和進一步的要求進行調整。</li>
	</ul></li>
	<li>權利聲明<br>本网站包含的所有内容（包括但不限于文本、图形、图片、视像及声音、商标、标识、版面设计、专栏目录与名称、内容分类）的所有权、著作权及其它权利由本公司所享有并予以保留。<br>
	任何媒体、网站或个人未经本公司书面授权不得转载、链接、转贴或以其它方式使用本网站内容；已取得本公司书面授权的，在使用时必须注明来源。</li>
	<li>付款<br>
		<ul>
			<li>除非報價另有規定，所有訂位需有訂位確認後24小時內支付訂金30%，尾款必須在活動開始前的48小時內支付。</li>
			<li>除非報價另有規定，本公司所提供的所有服務，按照報價，必須使用下列的支付方法之一進行支付。
				<ol>
					<li>Visa，MasterCard（2%附加費）或者American Express（3%附加費）</li>
					<li>直接存入指定銀行賬戶（EFT）</li>
					<li>現金或支票直接支付</li>
					<li>每一訂位需于活動當天提供個人信用卡作為租賃保障。</li>
				</ol>
			</li>
			<li>任何後期費用，包括包船擴展，額外的人，附加服務等，將在客戶同意后，直接在客戶所提供至信用卡內扣除。</li>
		</ul>
	</li>
	<li>終止訂位<br>
		訂位取消：在支付30%的訂金后，訂位完全確認後取消收費如下
		<ul>
			<li>出發前30天取消，可獲退款20%（訂金）</li>
			<li>出發前15天取消，可獲退款10%（訂金）</li>
			<li>出發前7天取消，扣訂金全額</li>
		</ul>
	</li>
	<li>天氣因素<br>
		<ol>
			<li>租船不會因為不幸的惡劣天氣取消。悉尼港是一個避風港，在有風的條件下可以保護許多區域。</li>
			<li>任何取消或者推遲必須取得遊艇經營者的同意</li>
			<li>在經營者決定推遲訂單時，推遲時間將會根據每年遊艇可使用時間表決定。</li>
		</ol>
	</li>
	<li>機密性<br>
		雙方需知在交易和買賣過程中，會接觸和接受到專有機密或私人信息給雙方。雙方同意嚴格保密這樣的信息，除非根據法律規定或監管機構和司法程序需要。
	</li>
	<li>責任條款
		<ol>
			<li>您同意賠償和不損害ALYC，包括其僱員，由行為疏忽或遺漏所造成的相關供應商和第三方的所有損失，索賠，訴訟，成本，費用，損失，造成的任何罰款和責任（包括合理的律師費）。</li>
			<li>ALYC特此聲明對於船上活動過程中可能發生的任何傷害，死亡和損失不承擔責任，其中包括客戶往返船隻與住宿之間。所有賠償將直接交由船主之保險公司負責。</li>
		</ol>
	</li>
	<li>投訴或調解糾紛<br>
		<ol>
			<li>
				您同意接受這份條約，在發生糾紛后，在訴諸法律程序前，真誠努力公正的解決此事。在此過程中，每一方同意盡其最大努力：
				<ol>
					<li>以書面形式清晰的表達清楚導致或引起糾紛的背景事實包括證人。</li>
					<li>明確列出那些需要採取行動，以解決糾紛。</li>
					<li>選擇一種方式解決糾紛，并解釋說明為何這種方式是公平公正的。</li>
				</ol>
			</li>
			<li>
				嘗試解決任何爭端必須遵循以下步驟：
				<ol>
					<li>雙方的陳述應以書面列載形式提出，并提出糾紛的問題和期許得到的結果。</li>
					<li>投訴人投訴的問題將會在十個工作日內得到答復。</li>
					<li>如果糾紛未能按照雙方意願解決，此糾紛將在十個工作日內提交給相關政府部門仲裁解決。</li>
				</ol>
			</li>
		</ol>
	</li>
	<li>免責條款<br>
		故本公司特此聲明，ALYC不會就任何錯誤、遺漏、或錯誤陳述或失實陳述（不論明示或默示的）承擔任何責任。對任何因使用或不當使用www.ALYC.com.au所載的資料而引致或所涉及的損失、毀壞或損害（包括但不限於相應而生的損失、毀壞或損害），本公司概不承擔任何責任。<br>
本公司不負責亦不承擔任何一切因瀏覽或使用資訊、產品及服務而引致之任何意外、錯誤、遺漏、疏忽、干擾、經傳送或接收的錯誤、因下載而感染電腦病毒、誹謗、合約毀壞、版權或知識產權侵犯及所造成的任何損失。<br>
當你一旦使用www.ALYC.com.au，即表示你無條件接受上述所載的免責條款以及任何本公司不時在無須預先通知你的情況下而對上述條款所作出的修改及/或修訂。請定期瀏覽此網頁查閱任何修改及/或修訂。
	</li>
</ol>