<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300" alt="header image">
	<h1>婚礼策划</h1>
	<div class="col-md-8 col-md-offset-2">
      <p>悉尼海港游船婚礼绝对是一次特别的独一无二的婚礼体验。我们惊艳世界级的婚礼游轮是一个非常让人印象深刻的方式在悉尼港来庆祝这个特殊的日子。完美的婚宴场地，奢华的私人游艇，优质的五星级服务以及专业的婚礼策划服务，在这个特殊的日子里为您呈现一个独特而难忘的悉尼港海上婚礼。我们的员工将提供卓越的专业服务，并会协助您协调各个方面，包括采购装饰，花卉造型，蛋糕和顶级的餐饮服务等。</p>
      <p>我们公司提供聘请专业的婚礼策划。奢华的婚礼交通将能够保证您和您的家人朋友抵达和离开顺利。我们的专业婚礼协调员将努力使您的私人包船奢华婚礼的一切服务都能超出您的期望。联系至尊游艇会独家探讨所有您对婚礼派对的需求。我们将确保在您的重要日子里，为您和您的家人朋友客人提供真正神奇满意的体验。</p>
      <p>婚礼场地是构建成功的婚礼风格的重要组成部分。不管你选择什么样主题风格的婚礼，至尊游艇会都能把我们的奢华私人游艇为您设计布置成最终达到您要求的完美理想场所。</p>
        <p>我们的婚宴船是专门用于奢华婚礼设计的多功能船只。我们的婚宴船提供一个广泛视角的玻璃结构设计的门窗，能让您从不同角度欣赏到悉尼港的美景。我们的婚庆船能够容纳2-800名乘客在多个船层。我们的婚宴船满足您的各种需求，我们还可以安排在悉尼最好的婚庆DJ，乐队和娱乐服务。以及我们还提供奢华的过夜包船服务。让您在奢华的私人游艇上度过终极浪漫的新婚之夜。
      </p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="婚礼策划" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('婚礼策划')">提交</button>
		</div>
	</form>
</div>