<!-- Page Content -->
<div class="text-center">
	<img class="header-img" src="img/header_img.jpg" width="1140" height="300">
	<h1>婚礼策划</h1>
	<div class="col-md-8 col-md-offset-2">
      <p>悉尼海港遊船婚禮絕對是一次特別的獨一無二的婚禮體驗。我們驚艷世界級的婚禮遊輪是一個非常讓人印象深刻的方式在悉尼港來慶祝這個特殊的日子。完美的婚宴場地，奢華的私人遊艇，優質的五星級服務以及專業的婚禮策劃服務，在這個特殊的日子里為您呈現一個獨特而難忘的悉尼港海上婚禮。我們的員工將提供卓越的專業服務，并會協助您協調各個方面，包括採購裝飾，花卉造型，蛋糕和頂級的餐飲服務等。</p>
      <p>我們公司提供聘請專業的婚禮策劃。奢華的婚禮交通將能夠保證您和您的家人朋友抵達和離開順利。我們的專業婚禮協調員將努力使您的私人包船奢華婚禮的一切服務都能超出您的期望。聯繫至尊遊艇會獨家探討所有您對婚禮派對的需求。
        我們將確保在您的重要日子里，為您和您的家人朋友客人提供真正神奇滿意的體驗。</p>
      <p>婚慶場地是構建成功的婚禮風格的重要組成部分。不管你選擇什麼樣主題風格的婚禮，至尊遊艇會都能把我們的奢華私人遊艇為您設計佈置成最終達到您要求的完美理想場所。</p>
        <p>我們的婚宴船是專門用於豪華婚禮設計的多功能船隻。我們的婚宴船提供一個廣泛視角的玻璃結果的設計，能夠讓您從不同角度欣賞到悉尼港的美景。我們的婚慶船能夠容納2-800名乘客在多個層面。我們的婚宴船滿足您的各種需求，我們還可以安排在悉尼最好的婚禮DJ，樂隊和娛樂服務。以及我們還提供奢華的過夜包船服務。讓您在奢華的私人遊艇上度過終極浪漫的新婚之夜。
      </p>
	</div>
</div>
<div class="col-md-6 col-md-offset-3" ng-controller="ServiceCtrl">
	<form name="contactForm">
		<div class="form-group">
			<label for="InputFullName">服务</label>
			<input class="form-control" value="婚礼策划" disabled>
		</div>
		<div class="form-group">
			<label for="InputFullName">姓名*</label>
			<input class="form-control" ng-model="enquiry.name" placeholder="John Smith" required>
		</div>
		<div class="form-group has-feedback">
			<label class="control-label">电子邮箱*</label>
			<span ng-show="contactForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			<input type="email" name="email" class="form-control" ng-model="enquiry.email" placeholder="john.smith@gmail.com" required>
		</div>
		<div class="form-group">
			<label for="InputPhoneNumber">联系电话*</label>
			<input class="form-control" ng-model="enquiry.phone" placeholder="04xxxxxxxx">
		</div>
		<div class="form-group">
			<label for="InputContent">联系我们</label>
			<textarea class="form-control" rows="5" ng-model="enquiry.content" placeholder="我想要预定..." required></textarea>
		</div>
		<div>
			<button class="btn btn-primary pull-right" ng-click="submit('婚礼策划')">提交</button>
		</div>
	</form>
</div>